@media (max-width: 480px) {
	.fa-bars {
		display: block;
	}
	.navigations {
		display: none;
	}
	.header {
		width: 480px;
	}
}
@media (max-width: 768px) {
    .footer-block01,
    .footer-block {
        width: 45%;
    }
}

@media (max-width:480px) {
    .footer-block01,
    .footer-block {
        width: 100%;
    }
    
}
